<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
            <Authorizing>
                Autorizimi...
            </Authorizing>
            <NotAuthorized>
                Duhet të <a href="/login">kyçesh</a> për t'iu qasur resursit të kërkuar.
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>Faqja nuk u gjet.</h1>
                <p>Kontrollo edhe një herë adresën e faqes.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>

