<li class="@Globals.ListJustified">
    <label>@Left</label>
    <span class="@Globals.ListJR">@Right</span>
</li>


@code {
    [Parameter] public string Left { get; set; } = "";
    [Parameter] public string Right { get; set; } = "";
}
